# SPDX-FileCopyrightText: 2023 The Crossplane Authors <https://crossplane.io>
#
# SPDX-License-Identifier: Apache-2.0

/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.DS_Store

# ignore IDE folders
.vscode/
.idea/
